<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cniao5.cweibo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.HomePageActivity"
            android:label="@string/lbl_home"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.simple"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DemoActivity"
            android:label="@string/lbl_demo"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.simple"/>
            </intent-filter>
        </activity>
        <activity
        android:name=".activities.LandingPageActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar.FullScreen"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity
            android:name=".activities.RepostActivity"
            android:screenOrientation="portrait"
            android:label="@string/lbl_repost"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.simple"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.simple"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ArticleCommentActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.simple"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
